<!-- _Layout.cshtml -->
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - STIN Burza</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <!-- <link rel="stylesheet" href="~/css/sidebar.css" /> -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <!-- Plotly z CDN (bez bundleru) -->
    <script src="https://cdn.plot.ly/plotly-2.24.2.min.js"></script>
</head>
<body>
    <script>
      if (localStorage.getItem('darkMode') === 'true') {
        document.body.classList.add('dark');
      }
    </script>

    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="/img/user.png" alt="">
                </span>
                <div class="text logo-text">
                    <span class="name">ACS vítěz poháru</span>
                    <span class="profession">Admin</span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>
        <div class="menu-bar">
            <div class="menu">
                <li onclick="toggleSearch()" class="nav-link">
                    <a href="#">
                        <i class='bx bx-search icon'></i>
                        <span class="text nav-text">Najít firmy</span>
                    </a>
                </li>
                <div class="hledaniFirmy">
                    <li class="search-box">
                        <i class='bx icon'></i>
                        <input id="companySearch" type="text" placeholder="Vyhledat...">
                    </li>
                    <div class="sidebar-body">
                        <div class="scrollable-list" id="companyList"></div>
                    </div>
                </div>
                <ul class="menu-links">
                    <li onclick="window.location.href='/'" class="nav-link">
                        <a href="#">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Burza</span>
                        </a>
                    </li>
                    <li onclick="window.location.href='/swagger'" class="nav-link">
                        <a href="#">
                            <i class='bx bx-pie-chart-alt icon'></i>
                            <span class="text nav-text">API</span>
                        </a>
                    </li>
                </ul>

                <li onclick="toggleExtra()" class="nav-link">
                    <a href="#">
                        <i class='bx bx-cog icon'></i>
                        <span class="text nav-text">Sentiment</span>
                    </a>
                </li>
                <div class="extraFunkce">
                    <div class="btns-container vertical">
                        <button id="btnGrow" class="btn-extra">
                            <i class="bx bx-chevron-up"></i> Růst ceny
                        </button>
                        <button id="btnDrop" class="btn-extra">
                            <i class="bx bx-chevron-down"></i> Pokles ceny
                        </button>
                    </div>
                    <select id="selectExtra" class="select-extra">
                        <option value="1">1</option>
                        <option value="2">3</option>
                        <option value="3">5</option>
                    </select>
                </div>

                <button id="sendToApiBtn" onclick="CallListStockAPI()">Odeslat firmy na API</button>
            </div>
            <div class="bottom-content">
                <li class="">
                    <a href="#">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Odhlásit se</span>
                    </a>
                </li>
                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>
                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>
    </nav>
    <!-- HLAVNÍ OBSAH (Grafy s daty) -->
    <main class="main-content">
        @RenderBody()
    </main>

    <script>
        const body = document.querySelector('body'),
            sidebar = body.querySelector('nav'),
            toggle = body.querySelector(".toggle"),
            searchBtn = body.querySelector(".search-box"),
            modeSwitch = body.querySelector(".toggle-switch"),
            modeText = body.querySelector(".mode-text");
        toggle.addEventListener("click", () => {
            sidebar.classList.toggle("close");
            closeSearch();
            closeExtra();
        });
        searchBtn.addEventListener("click", () => {
            sidebar.classList.remove("close");
        });
        modeSwitch.addEventListener("click", () => {
            body.classList.toggle("dark");
            if (body.classList.contains("dark")) {
                localStorage.setItem('darkMode', 'true');
                modeText.innerText = "Light mode";
            } else {
                localStorage.setItem('darkMode', 'false');
                modeText.innerText = "Dark mode";
            }
        });
        const mainContent = document.querySelector('.main-content');
        mainContent.addEventListener('click', () => {
            if(!sidebar.classList.contains('close')){
                sidebar.classList.add('close');
            }
            closeSearch();
            closeExtra();
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var script = document.createElement('script');
            script.src = '/js/app.js';
            document.body.appendChild(script);
        });

        function toggleSearch() {
            var searchBox = document.querySelector('.hledaniFirmy');
            if (searchBox.style.maxHeight != "200px") {
                openSearch();
                if (sidebar.classList.contains("close")) {
                    sidebar.classList.remove("close");
                }
            } else {
                closeSearch();
            }
        }
        function closeSearch() {
            var searchBox = document.querySelector('.hledaniFirmy');
            searchBox.style.maxHeight = "0px";
        }
        function openSearch() {
            var searchBox = document.querySelector('.hledaniFirmy');
            searchBox.style.maxHeight = "200px";
        }
    </script>
    <script>
        function toggleExtra() {
            var extraFunkce = document.querySelector('.extraFunkce');
            if (extraFunkce.style.maxHeight !== "150px") {
                openExtra();
                if (sidebar.classList.contains("close")) {
                    sidebar.classList.remove("close");
                }
            } else {
                closeExtra();
            }
        }
        function openExtra() {
            var extraFunkce = document.querySelector('.extraFunkce');
            extraFunkce.style.maxHeight = "150px"; 
        }
        function closeExtra() {
            var extraFunkce = document.querySelector('.extraFunkce');
            extraFunkce.style.maxHeight = "0px";
        }
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
