@page
@model IndexModel
@{
    ViewData["Title"] = "Domů";
}

<h2>Hlavní stránka - STIN Burza</h2>

<!-- Sem se budou dynamicky vkládat moduly (grafy) -->
<div id="modulesGrid" class="modules-grid"></div>

@section Scripts {
    <script>
        console.log("Index.cshtml načteno!");
    </script>
}
