@page
@model IndexModel
@{
    ViewData["Title"] = "Domů";
}

<div class="modules-grid" id="modulesGrid"> </div>

@section Scripts {
    <script>
        console.log("Index.cshtml načteno!");
    </script>
}
